{% extends "blog/base.html" %}

{% block content %}
<img src={% if post.feature_img %} {{ post.feature_img.url }} {% else %}# {% endif %} class="card-img-top" alt="...">
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
            {% if object.author == user %}
            <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1">Update </a>
            <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1">Delete </a>
            {% endif %}
        </div>

        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content|safe }}</p>
    </div>
</article>


{% endblock content%}


<!-- Since this is using convention class based view, the {{x2 instead of using <key>.content we use <object>.whatever here-->